/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Horizontal Overflow */
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}
